.chronos-lesson {
    height: 6em;
}

ul#timetable_select_form li {
    dispaly: inline;

}

.chronos-lesson-cancelled {
    background-color: inherit !important;
    text-decoration: line-through;
}
