<div class="float-left">
    <ul class="list-group">
    <li class="list-group-item active" data-toggle="collapse" href="#collapseDay">Day</li>
    </ul>
    <div class="collapse" id="collapseDay">
        <ul class="list-group">
        <li class="list-group-item">{% include "chronos/tt_lesson.html" %}</li>
        </ul>
        <ul class="list-group">
        <li class="list-group-item">{% include "chronos/tt_lesson.html" %}</li>
        </ul>
        <ul class="list-group">
        <li class="list-group-item">{% include "chronos/tt_lesson.html" %}</li>
        </ul>
        <ul class="list-group">
        <li class="list-group-item">{% include "chronos/tt_lesson.html" %}</li>
        </ul>
        <ul class="list-group">
        <li class="list-group-item">{% include "chronos/tt_lesson.html" %}</li>
        </ul>
        <ul class="list-group">
        <li class="list-group-item">{% include "chronos/tt_lesson.html" %}</li>
        </ul>
        <ul class="list-group">
        <li class="list-group-item">{% include "chronos/tt_lesson.html" %}</li>
        </ul>
    </div>
</div>


