<div class="col-sm px-0">
 <div class="container">
  <div class="row">
   <div class="col-sm px-0">
    <div class="card chronos-head">
     <div class="card-body">
      <span class="card-title">{{ weekday_name }}</span>
     </div>
    </div>
   </div>
  </div>
  {% for period_num, lesson_period in lesson_periods.items %}
   <div class="row">
    <div class="col-sm px-0">
     {% include "chronos/tt_lesson.html" with lesson_period=lesson_period %}
    </div>
   </div>
  {% endfor %}
 </div>
</div>
