{# -*- engine:django -*- #}

<div class="card chronos-lesson
  {% if lesson_period.get_substitution %}
  border border-warning
  {% endif %}
  "
  style="
  {% if lesson_period.lesson.subject.colour_fg %}
  color: {{ lesson_period.lesson.subject.colour_fg }};
  {% endif %}
  {% if lesson_period.lesson.subject.colour_bg %}
  background-color: {{ lesson_period.lesson.subject.colour_bg }};
  {% endif %}
  ">
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <span class="card-title">
          {{ lesson_period.get_subject.abbrev }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        {% for group in lesson_period.get_groups.all %}
          <span class="card-text">{{ group.short_name }}</span>
        {% endfor %}
      </div>
      <div class="col-sm">
        {% for teacher in lesson_period.get_teachers.all %}
          <a href="{% url 'person_by_id' teacher.id %}"
            title="{{ teacher.first_name }} {{ teacher.last_name }}"
            class="card-text"
            data-poload="{% url 'person_by_id_card' teacher.id %}">
            {{ teacher.short_name }}
          </a>
        {% endfor %}
      </div>
      <div class="col-sm">
        <span class="card-text">{{ lesson_period.get_room.short_name }}</span>
      </div>
    </div>
  </div>
</div>
