{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load bootstrap4 data_helpers i18n staticfiles %}

{% block bootstrap4_extra_head %}
 {{ block.super }}
 <link rel="stylesheet" href="{% static 'css/chronos/timetable.css' %}" />
{% endblock %}

{% block bootstrap4_title %}{% blocktrans %}Timetable{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_title %}{% blocktrans %}Timetable{% endblocktrans %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
 <div>
  <h1>{{ day }}</h1>
 </div>
 <div class="btn-group" role="group" aria-label="Day actions">
  <a href="{% url 'timetable_by_week' week_prev %}" class="btn btn-secondary">
   {% fa 'arrow-left' %}
  </a>
  <a href="{% url 'timetable_by_week' week_next %}" class="btn btn-secondary">
   {% fa 'arrow-right' %}
  </a>
 </div>
</div>

 <form method="get">
  <ul id="timetable_select_form">
   {{ select_form.as_ul }}
  </ul>
  <input type="submit" value="Select" /> 
 </form>

 <div class="row">
  <div class="col-sm px-0">
   <div class="container">
    <div class="row">
     <div class="col-sm px-0">
      <div class="card chronos-head">
       <div class="card-body">
        <span class="card-title">{% blocktrans %}Times{% endblocktrans %}</span>
       </div>
      </div>
     </div>
    </div>
    {% for num, times in periods.items %}
     <div class="row">
      <div class="col-sm px-0">
       <div class="card chronos-lesson">
        <div class="card-body">
         <div class="row">
          <div class="col-sm px-0">
           <span class="card-title">{{ num }}.</span>
          </div>
         </div>
         <div class="row">
          <div class="col-sm px-0">
           <span class="card-text">{{ times.0}}</span>
          </div>
          <div class="col-sm px-0">
           <span class="card-text">-</span>
          </div>
          <div class="col-sm px-0">
           <span class="card-text">{{ times.1 }}</span>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    {% endfor %}
   </div>
  </div>
 
  {% for weekday, lesson_periods_day in lesson_periods.items %}
   {% include "chronos/tt_day.html" with weekday_name=weekdays|get_dict:weekday lesson_periods=lesson_periods_day %}
  {% endfor %}
 </div>
{% endblock %}
 
