{% load date_js static %}

<script type="text/javascript" src="{% static "js/helper.js" %}"></script>
<script type="text/javascript">
  var activeDate = new Date({{ day|date_unix }});
  var displayDateOnly = {% if display_date_only %}true{% else %}false{% endif %};
</script>
<script type="text/javascript" src="{% static "js/chronos/date_select.js" %}"></script>


<div class="col s2 no-padding" style="display: initial;">
    <a class="waves-effect waves-teal btn-flat btn-flat-medium left" href="{{ url_prev }}">
        <i class="material-icons center">navigate_before</i>
    </a>

</div>
{% if display_date_only %}
    <div class="col s8">
    <span class="card-title center-block" id="date">
        {{ day|date:"l" }}, {{ day }}
    </span>
    </div>
{% else %}
    <div class="col s8 no-padding">
        <input type="text" class="datepicker center-align" id="date">
    </div>
{% endif %}
<div class="col s2 no-padding" style="display: initial;">
    <a class="waves-effect waves-teal btn-flat btn-flat-medium right" href="{{ url_next }}">
        <i class="material-icons center">navigate_next</i>
    </a>
</div>
