{# -*- engine:django -*- #}

{% extends 'core/base.html' %}
{% load material_form %}
{% load martortags %}

{% block content %}
    <h4>{% blocktrans %}Hint management{% endblocktrans %}</h4>

    {% if msg %}
        <div class="alert success">
            <p>
                <i class="material-icons left">check_circle</i>
                The hint was successfully {% if msg == "success_edit" %}saved. {% else %}
                deleted. {% endif %}
            </p>
        </div>
    {% endif %}

    <div class="card">
        <form method="GET" class="card-content">
            <div class="row no-margin">
                <div class="col s12 m4">
                    <a href="{% url 'timetable_add_hint' %}" class="waves-effect waves-light btn green">
                        <i class="material-icons left">add</i>
                        {% blocktrans %}Create hint{% endblocktrans %}
                    </a>
                </div>
                <div class="col s12 m8 right-align">
                    <button type="submit" class="waves-effect waves-green btn-flat">
                        <i class="material-icons left">refresh</i>{% blocktrans %}Refresh filter{% endblocktrans %}
                    </button>
                    <a class="waves-effect waves-red btn-flat " href="{% url "timetable_hints" %}">
                        <i class="material-icons left">clear</i>{% blocktrans }Clear filter{% endblocktrans %}
                    </a>
                </div>
            </div>
            {% form form=f.form %}
            {% endform %}
        </form>
    </div>

    <ul class="collapsible">
        {% for hint in f.qs %}
            <li>
                <div class="collapsible-header row no-margin">

                    <div class="col s10">
                        <strong>{{ hint.from_date }} &mdash; {{ hint.to_date }}</strong>{% blocktrans %}Hint for{% endblocktrans %}
                        <strong>
                            {{ hint.classes_formatted }}
                        </strong>
                        {% if hint.teachers %}
                            <span class="badge new green no-float no-margin">{% blocktrans %}Teachers{% endblocktrans %}</span>
                        {% endif %}
                    </div>
                    <div class="col s2">
                        <i class="material-icons right collapsible-trigger v2"></i>

                    </div>

                </div>
                <div class="collapsible-body row">
                    <div class="right">
                        <a class="btn-flat waves-effect waves-green green-text"
                           href="{% url "timetable_edit_hint" hint.id %}">
                            <i class="material-icons left">edit</i>
                            <span class="hide-on-small-only">{% blocktrans %}Edit{% endblocktrans %}</span>
                        </a>
                        <a class="btn-flat waves-effect waves-red red-text delete-button"
                           href="{% url "timetable_delete_hint" hint.id %}">
                            <i class="material-icons left">delete</i>
                            <span class="hide-on-small-only">{% blocktrans %}Delete{% endblocktrans %}</span>
                        </a>

                    </div>
                    <div>
                        <p>
                            {{ hint.text|safe_markdown }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
