{# -*- engine:django -*- #}

{% extends 'core/base_print.html' %}

{% load i18n static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/chronos/timetable.css' %}">
{% endblock %}

{% block browser_title %}{% blocktrans %}Print: Substitutions{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans %}Substitutions{% endblocktrans %}{% endblock %}


{% block content %}
  {% for day, c in days.items %}
    <h4>{% trans "Substitutions" %} {{ c.day|date:"l" }} {{ c.day }}</h4>

    {#    {% include "timetable/hintsinsubprint.html" %}#}

    {#    <div style="margin-bottom: 20px">#}
    {#        {% if c.header_info.is_box_needed %}#}
    {#            {% for row in c.header_info.rows %}#}
    {#                <div class="row no-margin">#}
    {#                    <div class="col s3 no-padding">#}
    {#                        <strong>{{ row.0 }}</strong>#}
    {#                    </div>#}
    {#                    <div class="col s9 no-padding">#}
    {#                        {{ row.1 }}#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {#    </div>#}

    <table class="substitutions">
      <thead>
      <tr>
        <th><i class="material-icons">people</i></th>
        <th><i class="material-icons">access_time</i></th>
        <th>{% blocktrans %}Teachers{% endblocktrans %}</th>
        <th>{% blocktrans %}Subject{% endblocktrans %}</th>
        <th>{% blocktrans %}Room{% endblocktrans %}</th>
        <th>{% blocktrans %}Notes{% endblocktrans %}</th>
        <th></th>
      </tr>
      </thead>

      {% if not c.substitutions %}
        <tbody>
        <tr class="striped">
          <td colspan="7">
            <p class="flow-text center">
              {% blocktrans %}No substitutions available.{% endblocktrans %}
            </p>
          </td>
        </tr>
        </tbody>
      {% endif %}

      <tbody>
      {% for sub in c.substitutions %}
        <tr class="{% if sub.type_ == "cancellation" %}green-text{% else %}black-text{% endif %} ">
          <td>
            {% include "chronos/partials/groups.html" with groups=sub.lesson_period.lesson.groups.all %}
          </td>
          <td>
            <strong>
              {{ sub.lesson_period.period.period }}.
            </strong>
          </td>
          <td>
            {% include "chronos/partials/subs/teachers.html" %}
          </td>
          <td>
            {% include "chronos/partials/subs/subject.html" %}
          </td>
          <td>
            {% include "chronos/partials/subs/room.html" %}
          </td>
          <td>
            {% if sub.cancelled %}
              {# TODO: Support other cases#}
              <span class="badge new green">{% trans "Cancelled" %}</span>
            {% endif %}
            {#          <em>{{ sub.text|default:"" }}</em>#}
          </td>
        </tr>

        {% ifchanged sub.lesson_period.lesson.groups %}
          </tbody>
          <tbody class="{% cycle "not-striped" "striped" %}">
        {% endifchanged %}
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endblock %}
