{% extends 'core/base.html' %}
{% load material_form martortags static widget_tweaks %}


{% block content %}
    <h4>
        {% if mode == "new" %}
            {% blocktrans %}
                Create hint
            {% endblocktrans %}
        {% else %}
            {% blocktrans %}
                Hinweis bearbeiten
            {% endblocktrans %}
        {% endif %}
    </h4>

    {% if msg == "success" %}
        <div class="alert success">
            <p>
                <i class="material-icons left">check_circle</i>
                {% blocktrans %}Der Hinweis wurde erfolgreich erstellt und veröffentlicht. Weiteren Hinweis anlegen oder zur Übersicht
                zurück?{% endblocktrans %}<br>
                <a class="btn waves-effect waves-light" href="{% url "timetable_hints" %}"><i
                        class="material-icons left">arrow_back</i>{% blocktrans %}Back to overview{% endblocktrans %}
                </a>
                <a class="btn waves-effect waves-light green" href="#add-hint"><i class="material-icons left">add</i>
                    {% blocktrans %}Create antoher hint{% endblocktrans %}
                </a>
            </p>
        </div>
    {% endif %}

    <form method="post" action="" id="add-hint">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert error">
                <div>
                    <i class="material-icons left">warning</i>
                    {{ form.non_field_errors }}
                </div>
            </div>
        {% endif %}
        <h5>{% blocktrans %}Über welchen Zeitraum soll der Hinweis angezeigt werden?{% blocktrans %}
            <span class="red-text">*</span>
        </h5>

        <div class="row">
            <div class="col s12 m6">
                {% if form.from_date.errors %}
                    <div class="alert error">
                        <div>
                            <i class="material-icons left">warning</i>
                            {{ form.from_date.errors }}
                        </div>
                    </div>
                {% endif %}
                {{ form.from_date.label_tag }}
                {{ form.from_date|add_class:"datepicker required" }}
            </div>
            <div class="col s12 m6">
                {% if form.to_date.errors %}
                    <div class="alert error">
                        <div>
                            <i class="material-icons left">warning</i>
                            {{ form.to_date.erros }}
                        </div>
                    </div>
                {% endif %}
                {{ form.to_date.label_tag }}
                {{ form.to_date|add_class:"datepicker required" }}
            </div>
        </div>
        <h5>{% blocktrans %}Für wen soll der Hinweis angezeigt werden?{% endblocktrans %}
            <span class="red-text">*</span>
        </h5>

        {% if form.classes.errors %}
            <div class="alert error">
                <div>
                    <i class="material-icons left">warning</i>
                    {{ form.classes.erros }}
                </div>
            </div>
        {% endif %}
        {{ form.classes.label_tag }}
        {{ form.classes }}
        <a href="#" id="select-all-classes">{% blocktrans %}Alle auswählen{% endblocktrans %}</a>
        ·
        <a href="#" id="deselect-all-classes">{% blocktrans %}Alle abwählen{% endblocktrans %}</a>
        <script type="text/javascript">
            $("#select-all-classes").click(function () {
                $(".select-wrapper ul li:not(.selected)").click();
            })
            $("#deselect-all-classes").click(function () {
                $(".select-wrapper ul li.selected").click();
            })
        </script>

        {% if form.teachers.errors %}
            <div class="alert error">
                <div>
                    <i class="material-icons left">warning</i>
                    {{ form.teachers.erros }}
                </div>
            </div>
        {% endif %}
        <p>
            <label>
                {{ form.teachers }}
                <span>{% blocktrans %}Für Lehrer anzeigen?{% endblocktrans %}</span>
            </label>
        </p>

        <h5>{% blocktrans %}Hinweistext{% endblocktrans %}
            <span class="red-text">*</span>
        </h5>
        {% if form.text.errors %}
            <div class="alert error">
                <div>
                    <i class="material-icons left">warning</i>
                    {{ form.text.erros }}
                </div>
            </div>
        {% endif %}
        {{ form.text }}


        <button type="submit" class="waves-effect waves-light btn green">
            <i class="material-icons left">save</i>{% blocktrans %} Hinweis {% if mode == "new" %} erstellen und
            veröffentlichen {% else %} aktualisieren {% endif %}{% endblocktrans %}
        </button>
    </form>

    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.min.js' %}"></script>
{% endblock %}


